<p>There are exactly ten ways of selecting three from five, 12345:</p>
<p class="center">123, 124, 125, 134, 135, 145, 234, 235, 245, and 345</p>
<p>In combinatorics, we use the notation, $\displaystyle \binom 5 3 = 10$.</p>
<p>In general, $\displaystyle \binom n r = \dfrac{n!}{r!(n-r)!}$, where $r \le n$, $n! = n \times (n-1) \times ... \times 3 \times 2 \times 1$, and $0! = 1$.
</p>
<p>It is not until $n = 23$, that a value exceeds one-million: $\displaystyle \binom {23} {10} = 1144066$.</p>
<p>How many, not necessarily distinct, values of $\displaystyle \binom n r$ for $1 \le n \le 100$, are greater than one-million?</p>

In [1]:
import math

In [2]:
def comb(n, r):
    return math.factorial(n) / math.factorial(r) / math.factorial(n - r)

In [56]:
c = 0
for n in range(23, 101):
    for r in range(4, n // 2):
        if comb(n, r) > 1000000:
            print(n, r, n - (r-1) * 2 - 1)
            c += n - (r-1) * 2 - 1
            break

23 10 4
24 9 7
25 8 10
26 8 11
27 8 12
28 7 15
29 7 16
30 7 17
31 7 18
32 7 19
33 6 22
34 6 23
35 6 24
36 6 25
37 6 26
38 6 27
39 6 28
40 6 29
41 6 30
42 6 31
43 6 32
44 5 35
45 5 36
46 5 37
47 5 38
48 5 39
49 5 40
50 5 41
51 5 42
52 5 43
53 5 44
54 5 45
55 5 46
56 5 47
57 5 48
58 5 49
59 5 50
60 5 51
61 5 52
62 5 53
63 5 54
64 5 55
65 5 56
66 5 57
67 5 58
68 5 59
69 5 60
70 5 61
71 5 62
72 4 65
73 4 66
74 4 67
75 4 68
76 4 69
77 4 70
78 4 71
79 4 72
80 4 73
81 4 74
82 4 75
83 4 76
84 4 77
85 4 78
86 4 79
87 4 80
88 4 81
89 4 82
90 4 83
91 4 84
92 4 85
93 4 86
94 4 87
95 4 88
96 4 89
97 4 90
98 4 91
99 4 92
100 4 93

In [57]:
c

4075