<p>145 is a curious number, as 1! + 4! + 5! = 1 + 24 + 120 = 145.</p>
<p>Find the sum of all numbers which are equal to the sum of the factorial of their digits.</p>
<p class="smaller">Note: As 1! = 1 and 2! = 2 are not sums they are not included.</p>

In [1]:
import math

In [7]:
math.factorial(9)

362880

In [14]:
def digits(n):
    d = []
    while n:
        d.append(n % 10)
        n = n // 10
    return d

In [15]:
def curious_number():
    nums = []
    for i in range(3, 1000000):
        d = digits(i)
        if i == sum([math.factorial(j) for j in d]):
            nums.append(i)
    return nums

In [16]:
curious_number()

[145, 40585]

In [17]:
145 + 40585

40730