In [15]:
import math

In [10]:
names = []
with open('p022_names.txt', 'r') as f:
    names = f.readline().replace('"', "").split(',')

In [12]:
len(names)

5163

In [13]:
names = sorted(names)

In [14]:
names[:10]

['AARON',
 'ABBEY',
 'ABBIE',
 'ABBY',
 'ABDUL',
 'ABE',
 'ABEL',
 'ABIGAIL',
 'ABRAHAM',
 'ABRAM']

In [23]:
s = 0
for i, name in enumerate(names):
    s += (i+1) * sum([ord(c) - ord('A') + 1 for c in name])

In [25]:
s

871198282